.allpost{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.allpost-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allpost-image{
    height: 200px;
    width: 250px;
}